@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Game Catalogue</h2>
    <img class="img-home" src="~/images/catalog.png" alt="catalog" title="Catalog" />
</div>
