@model GameCatalogue.Application.DTOs.PlatformDTO

@{
    ViewData["Title"] = "Register new Platform";
}

<h2 class="mb-3 text-success text-title">@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="row">
        <div class="col-md-6 float-left">
            <div class="form-group row mb-3">
                <label asp-for="Name" class="col-md-2 control-label text-form"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control form-control-sm" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <button value="Create" class="btn btn-outline-success" title="Create"><i
                        class="fas fa-save buttons-size"></i></button>
                <a asp-action="Index" class="btn btn-outline-primary" title="Back to List"><i
                        class="fas fa-arrow-left buttons-size"></i></a>
            </div>
        </div>
    </div>
</form>
