@model GameCatalogue.Application.DTOs.PlatformDTO

<h3>Edit Platform</h3>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button value="Create" class="btn btn-success" title="Save"><i class="fas fa-save buttons-size"></i></button>
                <a asp-action="Index" class="btn btn-info text-white" title="Back to List"><i class="fas fa-arrow-left buttons-size"></i></a>
            </div>
        </form>

    </div>
</div>