<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Catalogue</title>
    <link rel="icon" type="image/png" href="https://image.flaticon.com/icons/png/512/2790/2790363.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/bootstrap/dist/css/startbootstrap-simple-sidebar.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <div class="d-flex" id="wrapper">
            <div class="border-end bg-light" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light"><i class="fas fa-book-open px-md-2"></i>Game Catalogue</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 bg-light" 
                       asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home px-md-2"></i> 
                         Home
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 bg-light"
                       asp-area="" asp-controller="Games" asp-action="Index">
                        <i class="fas fa-gamepad px-md-2"></i> 
                         Games
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 bg-light" 
                       asp-area="" asp-controller="Platforms" asp-action="Index">
                        <i class="fas fa-tv px-md-2"></i> 
                         Platforms
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 bg-light" 
                       asp-area="" asp-controller="Home" asp-action="Privacy">
                        <i class="fas fa-id-badge px-md-2"></i> 
                         Privacy
                    </a>
                </div>
            </div>
            <div id="page-content-wrapper">
                <header>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                        <div class="container-fluid">
                            <button class="btn btn-outline-primary" id="sidebarToggle"><i class="fas fa-bars"></i></button>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    @await Html.PartialAsync("_LoginPartial")
                                </ul>
                            </div>
                        </div>
                    </nav>
                </header>
                <div class="container-fluid">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    
    <footer class="border-top footer text-muted bg-light">
        <div class="container d-flex justify-content-center">
            &copy; 2021 - Game Catalogue
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
