@model GameCatalogue.Application.DTOs.GameDTO

@{
    ViewData["Title"] = "Register new Game";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">

    <div class="form-horizontal">

        <hr />

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Producer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Producer" class="form-control" />
                <span asp-validation-for="Producer" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Gender" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Image" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PlatformId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PlatformId" class="form-control" asp-items="ViewBag.PlatformId"> </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button value="Create" class="btn btn-success" title="Create"><i class="fas fa-save buttons-size"></i></button>
                <a asp-action="Index" class="btn btn-info text-white" title="Back to List"><i class="fas fa-arrow-left buttons-size"></i></a>
            </div>
        </div>
    </div>

</form>